doctype html
html(lang="en")
	head
		title=EXPRESS
		include style
	body
		include header
			div.align_input
				span Firstname:
				span= first_name
			div.align_input
				span Lastname:
				span= last_name
			div.align_input
				span BirthDate:
				span= birth_date
			div.align_input
				span Job:
				span= job
			div.align_input
				span Salary:
				span= salary
			div.align_input
				span InDate:
				span= in_date
			div.align_input
				span OutDate:
				span= out_date
			div.align_input
				span Photos:
				span= photos
			div.align_input
				span InNumber:
				span= in_number
			div.align_input
				span Mail:
				span= mail