html
    head
        include style
    body
        include header
        table
            thead
                tr
                    th
                    th First Name
                    th Last Name
                    th Birth Date
                    th Job
                    th Salary
                    th In Date
                    th Out Date
                    th Photos
                    th In Number
                    th Mail
            each user in users
                tr
                    td
                        a(href="/collaborateurs/watch"+"?id="+user._id) More
                    td= user.first_name
                    td= user.last_name
                    td= user.birth_date
                    td= user.job
                    td= user.salary
                    td= user.in_date
                    td= user.out_date
                    td= user.photos
                    td= user.in_number
                    td= user.mail